body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    }

.header-nav {    
    background-color: #373737;
    margin: 0;

    
    
    &__line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
        

        li {   
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 12px;                            
            color: #ffffff;         
            padding: 15px 0;
            position: relative;
            text-transform: uppercase;

            a {
                text-decoration: none;
                color: #ffffff;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                right: -34px;
                top: 14px;
                width: 1px;
                height: 50%;
                background-color: #ffffff;      
            }

            &:last-child {
                &::after {
                    content: none;
                }
            }
        }
    }
}

.button-orange {
    background: #ff9d00;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    &:hover {
        cursor: pointer;
        background: lighten(#ff9d00, 10%);
    }

}
.header {
    background: #ffffff;
    margin: 15px 0;

    &__title { 
        display: flex;
        justify-content: space-between;            
        margin: 0;

        &-contacts {
            display: flex;
            align-items: center;                       
            font-family: 'Roboto-Medium';
            font-weight: 500;
            font-size: 22px;
            
            color: #373737;

            &-phone {
                margin-right: 30px;                

                a {
                    text-decoration: none;
                    color: #373737;                    
                }

                &:first-child {
                    position: relative;

                    &::after {
                        content: "";
                        height: 100%;
                        width: 1px;
                        background-color: #6b6d73 ;
                        position: absolute;
                        right: -15px;
                    }
                }
            }

            &-button {
                font-family: 'Roboto-Medium';
                font-size: 14px;
                font-weight: 500;
                padding: 13px 22px; 
                display: flex;                
                align-items: center;              
                
                img {                    
                    margin-right: 5px;
                }
                
            }
        }

        

    }
}


