.main {
    position: relative;
    margin-top: 15px;
    background: url(../img/bc-main.png) center/cover no-repeat;
    color: #ffffff;
    z-index: 1;
    
    &::before {        
        content: "";
        display: block;
        position: absolute;
        background-color:rgba(0, 0, 0, 0.6);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;        
        z-index: 0;
        
    }
    
   
    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;                
        padding-top: 65px;
        padding-bottom: 60px;
        @media (max-width:768px) {
            text-align: center;
            padding: 50px 0 0;
            justify-content: center;         
            }

        
    }

    &__img {
        position: relative;
        margin-right: 50px;        
        z-index: 0;
        &::before {
            content: "";
            position: absolute;
            border: 1px solid #6b6d73;
            width: 390px;
            height: 390px;
            border-radius: 50%;
            z-index: -1;
            right: -15px;
        }
        @media (max-width:768px) {
            display: none;   
        }
    }

    &__desc { 
        width: 535px;
                                  
        
        &-title {
            font-family: Roboto-Bold;
            font-size: 41px;
            font-weight: 700;
            margin-bottom: 10px;
            @media (max-width:768px) {                
                font-family: Roboto-Bold;
                font-size: 22px;
                font-weight: 700;
                color: #ff9d00;                                 
            }

        }

        &-subtitle {
            font-family: Roboto;
            font-size: 28px;
            font-weight: 400;
            @media (max-width:768px) {
                font-family: "Roboto";
                font-size: 18px;
                font-weight: 400;                
            }
        }    

        &-form {  
            box-sizing: border-box;
            max-width: 535px;                      
            background-color: rgba(255, 255, 255, 0.2);
            padding: 40px 27px 0;
            @media (max-width:768px) {
                background-color: transparent;
                              
                
            }


            &-title {
                font-family: Roboto-Light;
                font-size: 20px;
                font-weight: 300;
                line-height: 30px;
                @media (max-width:768px) {
                    font-family: "Roboto-Light";
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 18px;                    
                }  
                
                &-important {
                    display: block;
                    font-family: Roboto-Bold;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    @media (max-width:768px) {                        
                        font-weight: 700;
                        margin-bottom: 15px;
                        margin-top: 10px;
                                           
                    }  
                
                }
            }

            &-input {
                

                
                &-tel {
                    font-family: Roboto-Light;
                    font-size: 14px;
                    font-weight: 300;
                    padding: 20px;
                    border-radius: 5px;
                    border: none;
                    margin-right: 10px;
                    width: 55%;
                    @media (max-width:768px){
                        font-size: 13px;
                        font-weight: 300;
                        margin-bottom:10px;
                        width: 250px;
                        padding: 15px 5px; 
                        text-align: center;
                         
                    } 
                        
                    &:focus {
                        outline: none; 
                    }

                }

                &-button {
                    padding: 20px;
                    @media (max-width:768px){
                        padding: 15px; 
                    }
                }
            }

            &-small {
                font-family: Roboto-Light;
                font-size: 14px;
                font-weight: 300;
                margin-top: 12px;
                @media (max-width:768px){
                font-size: 13px;
                font-weight: 300;
                margin-bottom: 60px;
                }
            }

        }
    }
}

