@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Black";
  src: url(../fonts/Roboto-Black.ttf);
  font-weight: 900;
  font-style: normal;
}
body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}
@media (max-width: 768px) {
  .container {
    max-width: 340px;
  }
}

.header-nav {
  background-color: #373737;
  margin: 0;
}
@media (max-width: 768px) {
  .header-nav {
    display: none;
  }
}
.header-nav__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header-nav__line li {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  padding: 15px 0;
  position: relative;
  text-transform: uppercase;
}
.header-nav__line li a {
  text-decoration: none;
  color: #ffffff;
}
.header-nav__line li::after {
  content: "";
  display: block;
  position: relative;
  right: -34px;
  top: 14px;
  width: 1px;
  height: 50%;
  background-color: #ffffff;
}
.header-nav__line li:last-child::after {
  content: none;
}

.button-orange {
  background: #ff9d00;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}
.button-orange:hover {
  cursor: pointer;
  background: #ffb133;
}

.header {
  background: #ffffff;
  margin: 15px;
}
.header__title {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
@media (max-width: 768px) {
  .header__title {
    align-items: center;
  }
}
.header__title-logo {
  background: url(../img/icon.png) center no-repeat;
  background-size: 100%;
  width: 191px;
  height: 61px;
}
@media (max-width: 768px) {
  .header__title-logo {
    background: #ff9d00 url(../img/img-mobile.png) center no-repeat;
    width: 21px;
    height: 16px;
    padding: 10px;
    border-radius: 5px;
  }
}
.header__title-contacts {
  display: flex;
  align-items: center;
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-size: 22px;
  color: #373737;
}
.header__title-contacts-phones {
  display: flex;
}
@media (max-width: 768px) {
  .header__title-contacts-phones {
    display: block;
  }
}
.header__title-contacts-phones-phone {
  margin-right: 30px;
  font-family: Roboto-Medium;
  font-size: 22px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .header__title-contacts-phones-phone {
    font-size: 14px;
  }
}
.header__title-contacts-phones-phone a {
  text-decoration: none;
  color: #373737;
}
.header__title-contacts-phones-phone:first-child {
  position: relative;
}
.header__title-contacts-phones-phone:first-child::after {
  content: "";
  height: 100%;
  width: 1px;
  background-color: #6b6d73;
  position: absolute;
  right: -15px;
}
@media (max-width: 768px) {
  .header__title-contacts-phones-phone:first-child::after {
    display: none;
  }
}
.header__title-contacts-button {
  font-family: "Roboto-Medium";
  font-size: 14px;
  font-weight: 500;
  padding: 13px 22px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header__title-contacts-button {
    padding: 10px;
  }
}
.header__title-contacts-button img {
  margin-right: 5px;
}
@media (max-width: 768px) {
  .header__title-contacts-button img {
    margin: 0;
  }
}
.header__title-contacts-button-text {
  padding: 0;
}
@media (max-width: 768px) {
  .header__title-contacts-button-text {
    display: none;
  }
}

.main {
  position: relative;
  margin-top: 15px;
  background: url(../img/bc-main.png) center/cover no-repeat;
  color: #ffffff;
  z-index: 1;
}
.main::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.main__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  .main__wrapper {
    text-align: center;
    padding: 50px 0 0;
    justify-content: center;
  }
}
.main__img {
  position: relative;
  margin-right: 50px;
  z-index: 0;
}
.main__img::before {
  content: "";
  position: absolute;
  border: 1px solid #6b6d73;
  width: 390px;
  height: 390px;
  border-radius: 50%;
  z-index: -1;
  right: -15px;
}
@media (max-width: 768px) {
  .main__img {
    display: none;
  }
}
.main__desc {
  width: 535px;
}
.main__desc-title {
  font-family: Roboto-Bold;
  font-size: 41px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .main__desc-title {
    font-family: Roboto-Bold;
    font-size: 22px;
    font-weight: 700;
    color: #ff9d00;
  }
}
.main__desc-subtitle {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .main__desc-subtitle {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
  }
}
.main__desc-form {
  box-sizing: border-box;
  max-width: 535px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px 27px 0;
}
@media (max-width: 768px) {
  .main__desc-form {
    background-color: transparent;
  }
}
.main__desc-form-title {
  font-family: Roboto-Light;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}
@media (max-width: 768px) {
  .main__desc-form-title {
    font-family: "Roboto-Light";
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
  }
}
.main__desc-form-title-important {
  display: block;
  font-family: Roboto-Bold;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .main__desc-form-title-important {
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
  }
}
.main__desc-form-input-tel {
  font-family: Roboto-Light;
  font-size: 14px;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  width: 55%;
}
@media (max-width: 768px) {
  .main__desc-form-input-tel {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
    width: 250px;
    padding: 15px 5px;
    text-align: center;
  }
}
.main__desc-form-input-tel:focus {
  outline: none;
}
.main__desc-form-input-button {
  padding: 20px;
}
@media (max-width: 768px) {
  .main__desc-form-input-button {
    padding: 15px;
  }
}
.main__desc-form-small {
  font-family: Roboto-Light;
  font-size: 14px;
  font-weight: 300;
  margin-top: 12px;
}
@media (max-width: 768px) {
  .main__desc-form-small {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 60px;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  justify-content: center;
  align-items: center;
  display: none;
}
.popup__close {
  position: absolute;
  top: -30px;
  right: -20px;
  font-size: 35px;
  cursor: pointer;
}
.popup__wrapper {
  z-index: 1;
  width: 750px;
  height: 345px;
  color: #ffffff;
  position: relative;
}
@media (max-width: 768px) {
  .popup__wrapper {
    max-width: 280px;
  }
}
.popup::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}
.popup__header {
  padding: 25px 240px;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  background: #ff9d00;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .popup__header {
    padding: 10px 50px;
    font-size: 14px;
  }
}
.popup__primary {
  background-image: url(../img/primary_img.png);
  padding: 35px 80px 50px;
}
@media (max-width: 768px) {
  .popup__primary {
    padding: 15px 10px;
  }
}
.popup__primary-title {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
@media (max-width: 768px) {
  .popup__primary-title {
    font-size: 15px;
    margin-bottom: 15px;
  }
}
.popup__primary-title-text {
  font-size: 24px;
}
@media (max-width: 768px) {
  .popup__primary-title-text {
    font-size: 15px;
  }
}
.popup__primary-subtitle {
  margin-bottom: 15px;
}
.popup__primary-form {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .popup__primary-form {
    flex-direction: column;
    align-items: center;
  }
}
.popup__primary-form-input {
  padding: 20px;
  margin-right: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 356px;
}
@media (max-width: 768px) {
  .popup__primary-form-input {
    width: 200px;
    margin: 0;
    padding: 10px;
    margin-bottom: 10px;
  }
}
.popup__primary-form-button {
  padding: 20px 30px;
  width: 180px;
}
@media (max-width: 768px) {
  .popup__primary-form-button {
    padding: 10px;
  }
}
.popup__primary-subtitle {
  font-family: Roboto-Light;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
@media (max-width: 768px) {
  .popup__primary-subtitle {
    font-size: 15px;
  }
}
.popup__primary-small {
  font-family: Roboto-Light;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .popup__primary-small {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */